@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

ol, ul {
  list-style: none;
}

html {
  font-size: 100.01%;
}

body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  float: left;
  width: 100%;
}

/* ====================== Navigation ====================== */

nav {
  width: 100%;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: auto;
  padding: 20px 0;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: 100%;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background-color: #3397DB;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
}

.filter-options h2 {
  display: inline;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  margin: 0 10px 0 0;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0;
  padding: 5px 10px;
  width: 200px;
  margin: 0 10px 0 0;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 20px;
  text-align: left;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  margin-top: 120px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.restaurant-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

#restaurant-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.rest-img-cusine-holder, .addres-hours-holder {
  width: 400px;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
}

#restaurant-name, #reviews-container h2 {
  font-size: 24px;
  margin: 10px 0;
}

#restaurant-img, #restaurant-cuisine {
  width: 100%;
}

#restaurant-img {
  border-radius: 30px 0 0 0;
}

.addres-hours-holder {
  background: #fff;
  padding: 30px;
  border-radius: 0 0 30px 0;
  border: 1px solid #9e9e9e;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#reviews-container {
  padding: 20px 0;
}

#reviews-container h2 {
  color: #f58500;
  font-weight: 300;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  border-radius: 20px 0;
  border: 1px solid #9e9e9e;
}

#restaurant-hours td {
  color: #666;
}

#restaurant-hours tr {
  vertical-align: baseline;
}

#reviews-list p {
  padding: 10px 20px;
}

.name-date-holder {
  background: #333;
  display: table;
  width: 100%;
}

.name-date-holder p {
  display: table-cell;
}

.reviewer-name {
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  color: #fff;
}

.review-date {
  text-align: right;
  vertical-align: middle;
  font-size: 16px;
  color: #eaeaea;
}

.review-rating {
  text-transform: uppercase;
  font-weight: bold;
  background: #FF9800;
  display: inline-block;
  color: #fff;
  margin: 20px 20px 0 20px;
  border-radius: 5px;
}

.review-comments {
  font: 16px/1.6 Arial, Helvetica, sans-serif;
  margin: 10px 0 20px 0;
}

/*

/* ====================== Reponsive designs ====================== */

@media only screen and (max-width: 900px) {
  /* Restaurant Details */
  .restaurant-details {
    max-width: 600px;
  }
  .rest-img-cusine-holder, .addres-hours-holder {
    width: 100%;
  }
  .#restaurant-cuisine {
    border: 1px solid #9e9e9e;
    border-bottom: none;
  }
  .addres-hours-holder {
    border-top: none;
  }
}

@media only screen and (max-width: 730px) {
  /* Restaurant Listing */
  #restaurants-list li {
    width: 200px;
  }
  /* Restaurant Filtering */
  .filter-options h2 {
    display: block;
    width: 100%;
    text-align: center;
  }
  .filter-options select {
    width: 80%;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 600px) {
  /* Restaurant Listing */
  #restaurants-list li {
    width: 270px;
  }
}

@media only screen and (max-width: 400px) {
  /* Restaurant Listing */
  #restaurants-list li {
    width: 240px;
  }
  /* Restaurant Filtering */
  .filter-options select {
    width: 100%;
  }
  /* Restaurant Details */
  .restaurant-details{
    padding: 30px 15px 0 15px;
  }
  .addres-hours-holder {
    padding: 10px;
  }
}
